.title h1 {
    text-transform: uppercase;
    font-size: 7vh;
    color: lightblue;
    text-align: center;
}

.lists {
    display: flex;
    flex-direction: column;
}

.group {
    background-color: blue;
    
}

.group-name {
}

