.title h1 {
    text-transform: uppercase;
    font-size: 7vh;
    color: lightblue;
    text-align: center;
}

.group {
    align-items: stretch;
    padding-bottom: 10vh;
    border-top-style: dotted;
    border-width: 10px;
    border-color: rgba(128, 128, 128, 0.411);
}

.group-name {
    padding-left: 10%;
}

.group-name h2 {
    text-transform: uppercase;
    font-size: 5vh;
}
