.group-items {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-container {
    background-color: whitesmoke;
    margin: 20px 0;
    width: 90%;
    height: 100px;
    border-radius: 5px;
}

.item {
    height: 100%;
    display: flex;
    flex-direction: row;
}

.item .item-name {
    width: 60%;
}

.frame {
    margin: 1%;
    background-color: rgba(128, 128, 128, 0.2);
}

.item .price {
    width: 15%;
}

.item .date {
    width: 25%;
}

.text {
    display:flex;
    align-items: center;
    justify-content: center;
}

.item .text #name {
    color: black;
    font-size: large;
}

