body
{
	background-color: #303030;
	color: #F0F0F0;
	font-family: 'Lato', sans-serif;

	margin-top: 0;
	margin-bottom: 0;
	margin-right:0;
	margin-left:0;
	min-height: 100vh;
}

#main-header
{
	height: fit-content;
	font-size: 68px;
	margin-left: 10%;
	margin-right: 10%;
	
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#main-header-user-name
{
	margin: 4% 2%;
}

#main-header-logo
{
	margin: 4% 2%;
	text-align: right;
}

#footer
{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #3A3A3A;

	text-align: center;
	font-size: 16px;
	color: #909090;
}

nav
{
	width: 100%;
}

#content-container
{
	width: 100%;
	margin-top: 24px;
	margin-bottom: 24px;
	display: flex;
	flex-flow: row wrap;
}

.tile
{
	border-radius: 5px;
	flex: 1;
	min-width: 290px;
	min-height: 179px;
	margin: 12px;	

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	background-color: #404040;
	line-height: 2px;
	font-size: 48px;
	font-weight: 700;
}

.tile:hover
{
	cursor: pointer;
}

.user-tiles
{
	background-color: #008E9C;
}

.user-tiles:hover
{
	background-color: #119FAD;
}

.artifact-tiles
{
	background-color: #EECC77;
}

.artifact-tiles:hover
{
	background-color: #FFDD88;
}

.quest-tiles
{
	background-color: #AACC66;
}

.quest-tiles:hover
{
	background-color: #BBDD77;
}

.logout-tiles
{
	background-color: #DD3333;
}

.logout-tiles:hover
{
	background-color: #FF4444;
}
