body
{
	background-color: #303030;
	color: #F0F0F0;
	font-family: 'Lato', sans-serif;

	margin-top: 0;
	margin-bottom: 0;
	margin-right:0;
	margin-left:0;
	min-height: 100vh;

	display: flex;
	align-items: center;
	justify-content: center;
}

#logo
{
	height: 48px;
	width: 48px;
}

header
{
	margin-top: 14px;
	text-align: center;
	color: #F0F0F0;
	font-family: 'Lato', sans-serif;
	font-size: 48px;
}

.main-container
{
	width: 20%;
	min-width: 320px;
	height: fit-content;
	min-height: 400px;
	border: 1px solid #333333;
	border-radius: 10px;
	box-shadow: 0px 0px 20px 1px rgba(81, 81, 81, 0.7);
}

.inputs
{
	margin: 10%;
	align-items: center;
}

input
{
	width: 90%;
	padding: 5%;
	background-color: #BBBBBB;
	border: none;
	font-size: 22px;
	border-radius: 5px;
}

input:focus
{
	background-color: #F0F0F0;
	border: none;
}

p
{
	text-align: center;
	font-size: 22px;
	letter-spacing: 3px;
}

#button
{
	width: 100%;
	background-color: lightblue;
	margin-top: 20%;
	letter-spacing: 2px;
}

#button:hover
{
	width: 100%;
	background-color: #119FAC;
	cursor: pointer;
}