<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Quest Store</title>

    <link rel="icon" href="/static/img/logo.png">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/list.css">
    <link rel="stylesheet" href="/static/css/styleList.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
</head>

<body>

<div id="main-header">
    <div id="main-header-user-name">
        <section>{{ fullname }}</section>
    </div>

    <div id="main-header-logo">
        <header><a id="back-to-menu" href="../menus/menu-mentor.html">QuestSt<img id="logo" src="/static/img/logo.png">re</a></header>
    </div>
</div>

<div id="content-container">

    <div class="title">
        <h1>quests:</h1>
    </div>

    <div class="lists">
        <div class="group">
            <div class="group-items">
                {% for quest in questlist %}
                    <a href="quest-id/{{ quest.id }}" class="item-container">
                        <div class="item">
                            <img src="/static/img/quest.png" alt="quest photo">
                            <div class="item-name">
                                <h4 id="name">
                                    {{ quest.name }}
                                </h4>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div id="footer">
    <footer>Copyright &copy 2018 Truskawki</footer>
</div>

</body>
</html>