body
{
	background-color: #303030;
	color: #F0F0F0;
	font-family: 'Lato', sans-serif;

	margin-top: 0;
	margin-bottom: 0;
	margin-right:15%;
	margin-left:15%;
	min-height: 100vh;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
{

